* {
    box-sizing: border-box;
}
/* Reset Code */
body, ul {
    margin: 0;
    padding: 0;
}

/* ------------ Global styles----------------  */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content-wrapper {
    flex: 1;
}



/* ---------- Topbar------------ */
#topbar {
background-color: #1b273d;
}
#topbar a {
    color: white;
}

.language-selector a {
    text-decoration: none;
    color: black;
}


/* Categories */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
#categories .card {
    border: none;

}
#categories .card-img {
    overflow: hidden;
}
#categories img {
    transition: transform 0.5s ease; 

}


#categories .card-body {
    position: relative;
    z-index: 999;
    margin-top: -20%;
    background: #f9f9f9;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 5px solid white;
    border-radius: 10px;
  
}

#categories .card:hover img {
    transform: scale(1.2);
}
#categories .card:hover .card-body {
    color: green;
    border-top: 5px solid green;
    cursor: pointer;

}


/* solution */

#solution {
    padding: 8rem 0;
}
#solution .content {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 10%;
    right: 0;
    background-color: #1bad99;
}
#solution .icon i {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Clients */
#clients .subtitle {
    max-width: 600px;
    margin: 0 auto 2rem;

}


/* FOOTER */
footer {
    background-color: #1b273d;
    color: #8d939e;
}
footer h4 {
    color: white;
}

footer .social-icon i{
    color: white;
    font-size: 1.5rem;
    margin-right:10px;
}
footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #8d939e;
    text-decoration: none;
}
footer ul li a:hover {
    color: white;
}
.copyright {
    margin: 0;
    background-color: #131d30;
}