* {
    box-sizing: border-box;
}

/* Reset Code */
body,
ul {
    margin: 0;
    padding: 0;
}

/* ------------ Global styles----------------  */
/* color: #1cb9a3 */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.bg-fadras {
    background-color: #1aad99;
    color: white;
}
.text-fadras {
    color:#1aad99;
}

.content-wrapper {
    flex: 1;
}

.active-custom {
    /* background-color: #1cb9a3 !important;
    color: white !important; */
    color: #1cb9a3;
}

.btn-custom {
    position: relative;
    overflow: hidden;
    background-color: #1aad99;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
    text-decoration: none;
}

/* Create a pseudo-element for the animation */
.btn-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#0e7568;
    transition: width 0.3s;
    z-index: -1;

}

/* Animate the pseudo-element's width property on hover */
.btn-custom:hover::before {

    width: 100%;
    /* Expand to the right */

}





/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:#1cb9a3;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke:#1cb9a3;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}


.section-title {
    color: #1bad99;
    font-weight: bolder;
}








/* Topbar */
#topbar {
    background-color: #1b273d;
}

#topbar a {
    color: white;
}

.language-selector a {
    text-decoration: none;
    color: black;
}


/* Hero */
.swiper .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1aad99;
    opacity: 0.3;
}

.swiper .content {
    position: absolute;
    color: #1b273d;
    bottom: 20%;
    font-size: 3rem;
    background-color: #e1fffb;
    padding: 0 4rem;
    border-radius: 5px;
    font-family: fantasy;

}

/* About */
#about {
    background-color: #e6fffc;
}
#about .swiper-slide .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:grab;
}

#about .card .card-body {
    background-color: #1cb9a3;
}

/* Solution */
.solution {
    padding: 8rem 0;

}

.solution img {
    height: 650px;
    width: 70%;
}

.solution .content {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 10%;
    right: 0;
    background-color: #1bad99;
}
.solution h3 {
    font-family: fantasy;
}
.solution .icon i {
    font-size: 3rem;
    margin-right: 1rem;
}
@media screen and (max-width: 992px){
    .solution img {
        height: 100%;
        width: 100%;
    }
    .solution .content {
        position: static;
        width:100%;
        

    }
}


/* markets */
#markets .card {
    height: 220px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: all 0.4s;
}
#markets .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


/* Clients */
#clients .subtitle {
    max-width: 600px;
    margin: 0 auto 2rem;

}
#clients .card {
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.4s;
}
#clients .card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* Footer */
footer {
    background-color: #1b273d;
    color: #8d939e;
}

footer h4 {
    color: white;
    padding: 5px;
    border-bottom: 3px solid #1bad99;
}

footer .social-icon i {
    color: white;
    font-size: 2rem;
    margin-right: 15px;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #8d939e;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

.copyright {
    margin: 0;
    background-color: #131d30;
}








/* =========================== PAGES =============================== */
/* about */
#about-page {
    background-color: #f7fffe;
}
#about-page .card {
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#about-page a {
    color: #1bad99;
}
#about-page a i {
    font-size: 2rem;
}




/*  Categories Page  */

#categories .card {
    border: none;

}

#categories .card-img {
    overflow: hidden;
}

#categories img {
    transition: transform 0.5s ease;

}


#categories .card-body {
    position: relative;
    z-index: 999;
    margin-top: -20%;
    background: #f9f9f9;
    margin-left: 15%;
    margin-right: 15%;

}

#categories .card-body a {
    color: #1bad99;
    text-decoration: none;
}

#categories .card:hover img {
    transform: scale(1.2);
}

#categories .card:hover a {
    text-decoration: underline;
}



/* Products Page */
.products .card {
    border: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    height: 320px;
}

.product .info {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

