{% load static %}
<footer>
  <div class="container">
    <div class="row g-5 py-5">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <img src="{% static 'img/logo-dark.svg' %}" class="mb-4 p-1" alt="logo" height="60px" width="180px" style="background-color: #495976
        ; border-radius: 5px;">
        <p>FADRAS was established in 2006 by National Supplies Holding Group, as one of the leading institutions in Saudi.</p>
        <img src="{% static 'img/qr.jpg' %}" class="mb-3" height="100" width="100" alt="QR code">
      
          <ul class="social-icon d-flex justify-content-start">
            <li><span><i class="bi bi-facebook"></i></span></i></li>
            <li><span><i class="bi bi-twitter"></i></span></li>
            <li><span><i class="bi bi-instagram"></i></span></li>
            <li><span><i class="bi bi-youtube"></i></span></li>
          </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          QUICK ACCESS
        </h4>
          <ul style="line-height: 1.8;">
            <li><i class="bi bi-caret-right-fill"></i></i><a href="{% url 'home' %}">Home</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="{% url 'about' %}">About</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="{% url 'categories' %}">Products</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="{% url 'projects' %}">Projects</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="#markets">Markets</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="#clients">Clients</a></li>
            <li><i class="bi bi-caret-right-fill"></i><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          PRODUCTS
        </h4>
        <ul>
          {% for item in categories %}
          <li><a href="{% url 'products' category_id=item.id %}">{{item.name_en}}</a></li>

          {% endfor %}
      </ul>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          QUICK ACCESS
        </h4>
        <ul>
          <li><i class="bi bi-geo-alt"></i> Ahmed Al Kateb Street, Build # 8239,
PO Code 14322, Al Sulay District, Riyadh 3930
         </li>
         <hr>
         <li><i class="bi bi-telephone"></i> Telephone: 920020774
        </li>
         <li><i class="bi bi-whatsapp"></i> Whatsapp: 056 000 0322
        <hr>
       </li>
         <li>
           <p> <i class="bi bi-envelope"></i> info@fadrasgroup.com</p>
           <p><i class="bi bi-globe2"></i> www.fadrasgroup.com</p>
         </li>
       </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-white copyright py-5">&copy; 2023 Fadras. All Rights Reserved.
  </p>
</footer>
