{% load static %}
<footer>
  <div class="container">
    <div class="row g-5 py-5">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          FADRAS
        </h4>
        <img src="{% static 'img/qr.jpg' %}" height="100" width="100" alt="QR code">
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.
          </p>
          <ul class="social-icon d-flex justify-content-start">
            <li><span><i class="bi bi-facebook"></i></span></i></li>
            <li><span><i class="bi bi-twitter"></i></span></li>
            <li><span><i class="bi bi-instagram"></i></span></li>
            <li><span><i class="bi bi-youtube"></i></span></li>
          </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          QUICK ACCESS
        </h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          PRODUCTS
        </h4>
        <ul>
          <li><a href="#">Expansion Joint Profiles</a></li>
          <li><a href="#">Wall and Corner Guard Systems</a></li>
          <li><a href="#">Bridge Expansion Joints and Bearings & Slab Joint</a></li>
          <li><a href="#">Decoration & Trim Profiles</a></li>
          <li><a href="#">Movement Joints Profiles</a></li>
          <li><a href="#">Hydroflex Waterproofing Products</a></li>
          <li><a href="#">Entrance Mat System</a></li>
          <li><a href="#">PVC Waterstop</a></li>
          <li><a href="#">Aluminium Skirtings</a></li>
          <li><a href="#">Other Products</a></li>
      </ul>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          QUICK ACCESS
        </h4>
          <ul>
           <li>Atatürk Sanayi Bölgesi Ömerli Mh. Hakkı İleri Cd. Gülce Sk. No:22 Hadımköy/ İSTANBUL
          </li>
          <li>+90 (212) 485 16 15</li>
          <li>
            <p>export@arfen.com</p>
            <p>export@arfen.com</p>
          </li>
          <li>+90 (212) 771 25 79</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-white copyright py-5">&copy; 2023 Fadras. All Rights Reserved.
  </p>
</footer>
