{% load static %}
<header>

<div id="topbar">
  <div class="container">
    <div class="d-flex justify-content-end">
      <form class="d-flex my-2 me-3 search" role="search">
        <input type="search" placeholder="Search products" aria-label="Search">
      </form>

      <div class="language-selector my-2">
          <a class="me-2" href="{% url 'set_language' %}?language=en">
            <img src="{% static 'img/en.jpg' %}" alt="en" height="20px" width="30px">
            
            English</a>
          <a href="{% url 'set_language' %}?language=bn">
            <img src="{% static 'img/ar.jpg' %}" alt="en" height="20px" width="30px">
            
            
            বাংলা</a>
          <!-- Add more language options as needed -->
      </div>
    </div>
  </div>

  
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/logo-white.png' %}" alt="logo" height="55px" width="100%">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>





    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">  <img src="{% static 'img/logo-white.png' %}" alt="logo" height="60px" width="100%"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      

        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
   
      </div>
    </div>
  </div>
</nav>
</header>