{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
{% endblock %}

{% block content %}
<!-- MAIN CONTENT -->
<section>
   <img src="{% static 'img/about-page.png' %}" alt="about page" height="450px" width="100%">
</section>

<section id="about-page" class="py-5">
   <div class="container">
      <h5 class="text-center text-secondary py-5" data-aos="zoom-in" >FADRAS was established in 2006 by National Supplies Holding Group, as one of the leading institutions in Saudi. FADRAS Specialized in Road and Building Solutions, in which it had gained excellence by Introducing their continuous work for both new and Permanent clients alike.
         Throughout the need for additional elements of Road and Building Solutions has Expanded besides the growth of traffic, As well as the increasing demands on road space Has Witnessed a rise in Traffic management, safety, parking Solution regulatory and enforcement equipment. Thus, We bring comprehensive and complete Road and Building Solutions.
         </h5>
   <div class="row g-5">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="card" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="{% static 'img/fadras.png' %}" alt="" height="200px">
            <div class="card-body text-center">
               <h3>Fadras</h3>
              
               <a href=""><i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
         </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="card" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="{% static 'img/certification.jpg' %}" alt="" height="200px">
            <div class="card-body text-center">
               <h3>Certification</h3>
              
               <a href=""><i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
         </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="card" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="{% static 'img/vision.png' %}" alt="" height="200px">
            <div class="card-body text-center">
               <h3>Team</h3>
              
               <a href=""><i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
         </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="card" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="{% static 'img/team.jpg' %}" alt="" height="200px">
            <div class="card-body text-center">
               <h3>Vision</h3>
              
               <a href="" ><i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
{% endblock %}