{% extends 'base.html' %} {% load static %} {% load i18n %} {% block content %}
<!-- HERO SECTION -->
  <!-- Swiper -->
  <div class="swiper mySwiper" style="height: 450px">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'img/h1.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Expansion Joint</div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'img/h1.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Control Joint</div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'img/h2.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Bollard Post</div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'img/h3.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Parking Accessories</div>
      </div>

      <div class="swiper-slide">
        <img src="{% static 'img/h4.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Parking Accessories</div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'img/h5.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Signage for Parking & Roads</div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'img/h6.jpg' %}" class="d-block w-100 h-100" alt="..." />
        <div class="overlay"></div>
        <div class="content">
          Wall Protection System</div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>

<!-- MAIN CONTENT -->
<section id="about" class="py-5">
  <div class="container">
    <h2 class="text-center section-title">OUR SOLUTIONS</h2>
    <h4 class="text-center text-secondary  mb-4">
     We are well designed according to<br>
    <strong>International Standards of Fabrication</strong>
    </h4>
   <!-- Swiper -->
   <div class="swiper categorySwiper">
    <div class="swiper-wrapper py-5">


      {% for item in category_list %}
      <div class="swiper-slide d-block" style="height:300px">
        <div class="card h-100" data-aos="zoom-in" data-aos-duration="1000">
          <div class="card-img">
            <img  src="{{ MEDIA_URL }}{{ item.image }}" alt="" height="220px" width="100%">
          </div>
          <div class="card-body text-center d-flex justify-content-center align-items-center">
            <h4><a href="{% url 'products' category_id=item.id %}" class="text-decoration-none text-light">{{item.name}}</a></h4>

          </div>
         
        </div>
      </div>
      {% endfor %}
 
 
      
    </div>
    <div class="swiper-pagination"></div>
  </div>


  
  <div class="solution" data-aos="zoom-in" data-aos-duration="1000" >
  <div class="position-relative">
    <img src="{% static 'img/about.jpeg' %}" alt="" />
    <div class="solution-content p-5 text-light">
      <h3>Selection Criteria for Expansion Joint Solutions</h3>
      <p>When designing the building, there are two main types of movement to consider: thermal and seismic</p>
      <div class="row direction-column g-5 mt-4">
        <div class="col-12 d-flex">
          <div class="icon"><i class="bi bi-cpu"></i></div>
          <div>
            <h5>Why are thermal expansion joints necessary?</h5>
            <p>Thermal expansion and contraction will occur in buildings – that's a given – and control joints help prevent resulting cracks and damage. Wind, temperature fluctuation, live loads,</p>
          </div>
        </div>
  
        <div class="col-12 d-flex">
          <div class="icon"><i class="bi bi-motherboard"></i></div>
          <div>
            <h5>Why are seismic expansion joints necessary?</h5>
            <p>A seismic joint typically creates a separation between the adjacent buildings or parts of buildings that includes separation of walls, floors, roof and in the case of joints within the same building, it allows large multidirectional movements of structures to avoid collisions</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  </div>
</section>


<!-- Markets -->

<section id="markets" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center pb-5 section-title" data-aos="zoom-in">Our Market Sectors</h2>
    <div class="row g-3 justify-content-center align-content-stretch">
      {% for item in market_list %}
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 "
      >
      <div class="card d-flex flex-column justify-content-center align-items-center" data-aos="zoom-in" data-aos-duration="1000">
        <span class="m-4 d-flex justify-content-center align-items-center" style="height: 120px;">
          <img src="{{item.image.url}}" alt="" height="fit-content" width="100%">
        </span>
      <h6 class="text-center">{{ item.title}}</h6>
      </div>
       
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Clients -->
<section id="clients" class="py-5">
  <div class="container">
    <h2 class="text-center section-title" data-aos="zoom-in" >Our Clients</h2>
    <p class="text-center subtitle text-secondary" data-aos="zoom-in" >
      We believe in not just providing a service to our clients but also forming
      a relationship based on understanding our client’s needs and then
      developing solutions based on those needs.
    </p>
    <div class="row g-5 justify-content-center align-items-center">
      {% for item in client_list %}
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center align-items-center"
      >
      <div class="card" data-aos="flip-left" data-aos-duration="1000">
        <img
          src="{{ item.image.url }}"
          alt="client"
        />
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
