{% extends 'base.html' %} {% load static %} {% load i18n %} {% block content %}
<!-- HERO SECTION -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/1t.jpg' %}" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/2t.jpg' %}" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- MAIN CONTENT -->
<section id="categories" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">All categories</h2>
   <!-- Swiper -->
   <div class="swiper mySwiper">
    <div class="swiper-wrapper py-5">


      {% for item in category_list %}
      <div class="swiper-slide d-block">
        <h5>{{ item.name }}</h5>
        <img
        src="{{ MEDIA_URL }}{{ item.image }}"
        height="120"
        width="120"
        alt="categories"
      />
        <a href="">See Products</a>
      </div>
      {% endfor %}
 
 
      
    </div>
    <div class="swiper-pagination"></div>
  </div>
  </div>
</section>

<!-- Solution -->
<section id="solution">
  <div class="container position-relative">
    <img src="{% static 'img/about.jpeg' %}" height="700px" width="70%" alt="" />
    <div class="content p-5 text-light">
      <h3>Selection Criteria for Expansian Joint Solutions</h3>
      <p>When designing the building, there are three main types of movement to consider: thermal, seismic and wind sway</p>
      <div class="d-flex">
        <div class="icon"><i class="bi bi-bank"></i></div>
        <div>
          <h5>Thermal</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit praesentium ullam nostrum cum porro totam tempore, nemo laboriosam nam illum.</p>
        </div>
      </div>

      <div class="d-flex">
        <div class="icon"><i class="bi bi-bank"></i></div>
        <div>
          <h5>Thermal</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit praesentium ullam nostrum cum porro totam tempore, nemo laboriosam nam illum.</p>
        </div>
      </div>


      <div class="d-flex">
        <div class="icon"><i class="bi bi-bank"></i></div>
        <div>
          <h5>Thermal</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit praesentium ullam nostrum cum porro totam tempore, nemo laboriosam nam illum.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Markets -->

<section id="markets" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center pb-5">Our Market Sectors</h2>
    <div class="row g-5 justify-content-center">
      {% for item in market_list %}
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 "
      >
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <span class="d-block"
        ><i class="bi bi-buildings" style="font-size: 3rem"></i
      ></span>
      <h5 class="text-center py-3">Commercial Buildings</h5>
      </div>
       
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Clients -->
<section id="clients" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Clients</h2>
    <p class="text-center subtitle">
      We believe in not just providing a service to our clients but also forming
      a relationship based on understanding our client’s needs and then
      developing solutions based on those needs.
    </p>
    <div class="row g-5">
      {% for item in client_list %}
      <div
        class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center align-items-center"
      >
        <img
          src="{{ item.image.url }}"
          height="120"
          width="120"
          alt="client"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
