{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}

  <!-- MAIN CONTENT -->
  <section id="projects">
 
      <h1 class="title">Projects</h1>
      <div class="container">
        <div class="row g-5">
          {% for item in project_list %}
          <div class="col-12  col-md-6 col-lg-4">
            <div class="card" data-aos="zoom-in">
              <div class="card-img">
                <img src="{{ item.image.url }}" alt="" height="250px" width="100%">
              </div>
              <div class="bg-shadow"></div>
              <div class="card-body">
                <h5>{{ item.title }}</h5>
                <p>{{ item.address }}</p>
                
                
              </div>
            </div>
           
          </div>
          {% endfor %}
        </div>
      </div>



  </section>

{% endblock %}