{% extends 'base.html' %}
{% load i18n %}

{% block title %}Home | Products{% endblock %}

{% block content %}


<section style="background-color: #1aad99; padding:100px 0;">
    <h1 class="text-center text-light">All Products</h1>
</section>

<section id="products" class="products py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-md-3">
                <h3>Sub Categories</h3>
                <ul class="list-group list-group-flush flex-column">
                    {% for item in sub_category_list %}
                    <li class="list-group-item {% if item.category_id == request.resolver_match.kwargs.category_id and item.id == request.resolver_match.kwargs.sub_category_id %}active-custom{% endif %}">
                      <a class="nav-link" aria-current="page" href="{% url 'filter_product' category_id=item.category_id sub_category_id=item.id %}">{{ item.name_en }}</a>
                    </li>

                    {% endfor %}
                   
                  </ul>
            </div>
            <div class="col-12 col-md-9">
                <div class="row g-4">
                    {% for product in product_list %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card">
                            <img src="{{product.image1.url}}" alt="image" height="200px" width="100%">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-4">{{product.name}}</h5>
                                <a href="{% url 'product' product_id=product.id %}" class="btn-custom">{% translate "Read More" %}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
