{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'product/css/style.css' %}" />
{% endblock %}

{% block content %}
<!-- MAIN CONTENT -->
<section id="product" class="py-5">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://www.inprocorp.com/globalassets/product-images/expansion-joint-systems/floor-covers/432-series-floor-recessed-mount.jpg?width=500&height=500&mode=crop" alt="">
        </div>
        <div class="col-12 col-md-6">
            <h1>432 Series - Recessed Mount
            </h1>
            <p class="text-body">The 432 floor expansion joint cover accommodates horizontal, vertical and shear seismic movement. Ideal system for use with carpet, vinyl, ceramic tile and other floor finishes. The 432 is engineered with exposed hardware which provides simple accessibility for joint maintenance and inspection.</p>
        </div>
    </div>
    

    <!-- Information -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row">
                <div class="col-12 col-md-6">
                    Master Specification - JointMaster
                </div>
                <div class="col-12 col-md-6">
                    PDF
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
      </div>
</div>
</section>
{% endblock %}